@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;600;700&display=swap");

// Fuente
$fuente_principal: "Heebo", sans-serif;

// Tamaño me dedia queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$black: #000000;
$white: #ffffff;
$light_blue: #31b1df;
$red: #e64225;
$yellow: #ffb72d;
$lead: #98999c;
// Fuentes
$thin: 100;
$ligth: 300;
$regular: 400;
$medium: 500;
$semi_bold: 600;
$bold: 700;
